.product-page {
    background-color: #ECE6D3;
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .features {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: #D9D9D9;
    padding: 20px 0;
    margin: 40px;
    border-radius: 10px;
  }
  
  .feature {
    padding: 10px 30px 10px 10px;
    width: 18%;
    font-family: Inter;
    text-align: center;
    border-right: 1px solid #6B6B6B;
  }
  
#feature4{
    border: none;
}

  .feature img {
    width: 25px;
    height: 20%;
    border: 1px solid #FF6300;
    border-radius: 50%;
    padding: 7px;
    background-color: #FFFFFF;
  }

  .feature h3{
    line-height: 0;
  }
  
  .title {
    text-transform: uppercase;
    color: #062133;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    letter-spacing: .8px;
    margin: 20px 0;
  }
  
  .filters {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }
  
  .filter {
    background-color: #ECE6D3;
    border: none;
    font: 17px Inter;
    line-height: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .filter.active {
    background-color: #FF6300;
  }
  
  .product-page .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 20px;
  }
  
  .product-page  .product {
    position: relative;
    border-radius: 8px;
    /* width: 150px; */
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    flex-basis: 22%;
  }
.product-page .products span{
  position: absolute;
  top: 16px;
  right: 16px;
}

.product-page .products .favorite-icon{
  width: 20px;
  padding: 4px;
  background-color: #FFFFFF;
  border-radius: 50%;
}
  .product-page  .product-image {
    width: 100%;
    border-radius: 8px;
  }
  
  .product-page  .product-info {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
  .product-page .product-info .image{
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 2px;
  }
  .product-page .product-info img{
    width: 20px;

  }
  .product-page  .product-info p{
    line-height: 5px;

  }
  .product-page  .product-info .price{
    font-weight: 600;
  }


  /* Responsive design */
@media (max-width: 850px) {
  .features {
    justify-content: space-between;
    padding: 5px 0;
    margin: 0px;
    }

  .feature {
    padding: 0px 30px 0px 10px;
    width: 18%;
    font-family: Inter;
    text-align: center;
    border-right: 1px solid #6B6B6B;
    }
    .feature img {
      width: 15px;
      height: 10%;
      padding: 5px;
    }
  .feature p{
    font-size: 12px;

  }
    .feature h3{
      line-height: 8px;
      font-size: 14px;
    }

    .title {
      font-size: 25px;
    }
  
    .filters{
      display: none;
    }
    .product-page  .product-info {
      padding: 0 3px;
    }
    .product-page .product-info .image{
      margin-top: 5px;
      display: flex;
      justify-content: center;
      width: 18px;
      height: 15px;
      padding: 2px;
    }
    .product-page .product-info img{
      width: 15px;
  
    }

    .product-page  .product {
      flex-basis: 32%;
      margin-bottom: 5px;

    }

    .product-page  .product-info {
      text-align: left;
      font-size: 14px;
    }
  
  
  }

@media (max-width: 580px) {
.features {
  flex-wrap: wrap;
  justify-content: space-around;
  }

.feature {
  flex-basis: 35%;
  border-right: none;
  }
  .title {
    font-size: 20px;
  }
  .filters{
    display: none;
  }
  /* .filter {
    font: 8px Inter;
    line-height: 13px;
    padding: 0px 8px;
    
  }
  .filter.active {
    background-color: #FF6300;
  } */
  
.product-page  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 20px;
  }

  
.product-page .products .favorite-icon{
    width: 15px;
    padding: 2px;
  }
  
.product-page  .product {
    flex-basis: 40%;
  }

  .product-page  .product-info {
    font-size: 12px;
  }
}
