
.customer-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F1E9;
    padding: 40px;
    border-radius: 10px;
}
.customer-review h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #062133;
}

.customer-review__content{
    display: flex;
}

.customer-review__image-wrapper {
    flex: 2;
    
}

.customer-review__text{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.customer-image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
    position: relative;
}

.review-content {
    flex: 1;
    padding: 20px;
}

.customer-review__text p{
    font-size: 16px;
    margin-bottom: 10px;
    width: 80%;
    color: #000000;
}

 .customer-name {
    font-weight: 600;
    color: #0D1B2A;
}

.arrow {
    font-size: 38px;
    color: #FF7F0E;
    text-align: center;
    /* margin-right: 20px; */
}

@media (max-width: 768px) {
    .customer-review {
        flex-direction: column;
        text-align: center;
    }

    .image-container {
        margin-bottom: 20px;
    }

    .review-content {
        padding: 0;
    }
}
