/* App.css */
.checkout-page {
    background-color: #ECE6D3;
    display: flex;
    flex-direction: column;
  }
  
  .checkout-content{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
 .checkout-content h2{
    color: #062133;
    /* width: 30%; */
    text-align: left;
    font-size: 22px;
    margin-left: 4rem;
  }
.checkout-content h2::before {
    content: '←';
    font-size: 20px;
    margin-right: 10px;
    color: #FF6300;
  }

  .container{
    display: flex;
    justify-content: center;
  }

  .container1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 50%;
  }
  
  .container1 form{

    border-right: 1px solid #6B6B6B;
  }
  
  .container1 h4 {
    font-size: 15px;
    font-weight: 600;
    color: #062133;
    margin-top: 20px;
  }

  .container1 .input{
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    width: 98%;
  }
  
  .container1 .input-group {
    margin-bottom: 15px;
    flex: 1 2 35%;
  }
  
  .container1 .input-group label {
    display: block;
    margin-bottom: 5px;
    color: #6B6B6B;
    font-size: 14px;
  }
  
  .container1 .input-group input {
    width: 90%;
    padding: 10px;
    border: 1px solid #6B6B6B;
    background-color: #ECE6D3;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .container1 .button{
    display: flex;
    justify-content: center;
    margin: 20px auto;

  }
  .container1 button {
    background-color: #ff6b00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
    font-size: 16px;
  }
  
  .container1 button:hover {
    background-color: #e65c00;
  }


  .container2 {
    border-radius: 10px;
    width: 42%;
  }
  
  .container2 h4 {
    font-size: 15px;
    font-weight: 600;
    color: #062133;
  }
  
  .container2 .order-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

  }
  
  .container2 .order-item img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border-radius: 5px;
  }
  
  .container2 .details {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }
  
  .container2 .details h4{
    font-size: 14px;
  }

  .star-rating {
    display: flex;
    justify-content: space-around;
    font-size: 17px; 
    color: #FF6300; 
}

  .container2 .details .price{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 46%;
  }
  
  .container2 .details p {
    margin: 0;
    font-size: 14px;
  }
  
  
  .container2 .quantity p{
    cursor: pointer;
    border: 1px solid #6B6B6B;
    padding: 3px;

  }
  
  .container2 .quantity span {
    margin: 0 15px;
  }
  
  .container2 .price {
    margin-left: 15px;
    font-weight: bold;
  }
  
  .container2 .remove {
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
    margin-left: 15px;
  }

  .totals .sum{
    display: flex;
    flex-direction: column;
    border-top: 1px solid #062133;
    border-bottom: 1px solid #062133;
    padding: 0 20px;
  }
  
  .totals .sum div, .totals .total{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .totals .total{
    font-weight: 600;
    padding: 0 20px;

  }
  
  .container2 .button{
    display: flex;
    justify-content: center;
  }

  .container2 .place-order{
    background-color: #ff6b00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    font-size: 16px;
  }

  .place-order:hover {
    background-color: #e65c00;
  }
  
  .terms {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
  }
  
  .terms a {
    color: #ff6b00;
    text-decoration: none;
  }

@media (max-width: 780px) {
.container{
  flex-direction: column;
  padding-left: 2rem;
}
.container1 {
  padding: 0px;
  width: 90%;
}

.container1 form{
  border: none;
}

.container1 h4 {
  font-size: 16px;
  margin-top: 20px;
}

.container1 .input{
  gap: 8%;
  width: 100%;
}

.container1 .input-group label {
  font-size: 13px;
}

.container1 .input-group input {
  width: 85%;
  padding: 7px;
  font-size: 13px;
}

.container1 .button{
  display: flex;
  justify-content: center;
  margin: 20px auto;

}
.container1 button {
  width: 80%;
  font-size: 16px;
}

.container2 {
  width: 100%;
}

.container2 h4 {
  font-size: 15px;
}

.container2 .order-item img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.container2 .details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 1em;
}

.container2 .details h4{
  font-size: 14px;
}

.star-rating {
  width: 50%;

}

.container2 .details .price{
  justify-content: flex-start;
  width: 65%;
}

.container2 .quantity {
  margin-right: 1.5em;
}


.container2 .quantity span {
  margin: 0 10px;
}

.container2 .price {
  margin-left: 0px;
  font-weight: bold;
}

.container2 .remove {
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
  margin-left: 15px;
}

.totals .sum{
  display: flex;
  flex-direction: column;
  border-top: 1px solid #062133;
  border-bottom: 1px solid #062133;
  padding: 0 20px;
}

.totals .sum div, .totals .total{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totals .total{
  font-weight: 600;
  padding: 0 20px;

}

.container2 .button{
  display: flex;
  justify-content: center;
}

.container2 .place-order{
  background-color: #ff6b00;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  font-size: 16px;
}

.place-order:hover {
  background-color: #e65c00;
}

.terms {
  margin-top: 20px;
  font-size: 12px;
  text-align: center;
}

.terms a {
  color: #ff6b00;
  text-decoration: none;
}
  }
  
@media (max-width: 480px) {
    
  }