.footer{
    width: 100%;
    background-color: #062133;
    display: flex;
    flex-direction: row;
}

.footer-logo {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-logo img {
    width: 60%;
  }
  

.footer-content{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */

}

.footer-main {
    font-size: Inter;
    width: 90%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: left;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ffffff;
    padding-top: 4em;

  }

.footer-section{
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
  
#address{
  padding-right: 2em;
}

  .footer-section h3 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
  }
  
  .footer-section p {
    font-size: 16px;
    line-height: 18px;
  }
  
  .footer-bottom {
    width: 100%;
    color: #fff;
    text-align: center;
    padding: .5em 0;
  }
  
  
  /* Responsive design */
  @media (max-width: 850px) {
  .footer{
    flex-direction: column;
    padding: 10px 0;
  }
  .footer-logo {
    width: 15%;
    align-items: center;
  }

  .footer-logo img{
    width: 100%;
  }
  .footer-content {
    flex-direction: column;
    gap: 15px;
  }
  .footer-main {
    width: 100%;
    justify-content: space-around;
    text-align: left;
    padding: 0 0 0 10px;

  }
    .footer-section {
      width: 40%;
      margin-bottom: 30px;
    }

    
    .footer-section h3 {
      margin-bottom: 0;
      font-size: 13px;
      font-weight: 600;
    }
    
    .footer-section p {
      font-size: 13px;
      line-height: 0px;
    }
  
  #address {
      padding-right: 0;
    }
    
  #address p{
    line-height: 15px;
  }
    .footer-bottom {
      text-align: center;
      padding: 5px 0 1em 0;
      font-size: 12px;
    }
    
    .footer-bottom p {
      margin: 0;
    }

  }
@media (max-width: 580px) {
  .footer-logo {
    margin-left: 10px;
  }
  .footer-section {
    width: 45%;
    margin-bottom: 20px;
  }
  .footer-section h3 {
    font-size: 12px;
  }
  
  .footer-section p {
    font-size: 12px;
  }
/* .footer-main {
    flex-direction: column;
    justify-content: center;
  }
.footer-section{
    width: 45%;
}
  
  .footer-section h3 {
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .footer-section p {
    font-size: 16px;
    line-height: 21px;
  }

#address {
    padding-right: 4em;
  }
  
  .footer-bottom {
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 10px 0 4em 0;
  }
  
  .footer-bottom p {
    margin: 0;
  } */
}