.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ECE6D3;
    padding: 0 20px;
}

.icon{
    display: none;
}

.logo {
    width: 80px;
    color: #FF7F0E;
    margin-left: -20px;
}

.nav {
    width: 40% ;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.nav li{
    list-style: none;
}

.nav a {
    text-decoration: none;
    width: 56px;
    height: 24px;
    top: 37px;
    left: 307px;
    color: #062133;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;

}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
}


.icons img{

    width: 25px;
    height: 25px;
}


@media screen and (max-width: 825px){
    .header{
        justify-content: space-between;

    }
    .icon{
        display: inline;
        cursor: pointer;
    }

    .logo {
        width: 50px;
        color: #FF7F0E;
    }
   
    .nav {
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        top: 5%;
        left: 0%;
        height: 100vh;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .nav a{
        color: white;

    }
    .nav.active {
        top: 100%;
    
    }


    .nav li{
        margin: 15px 0;
    }

    }
    .icons {
        width: 15%;
        justify-content: space-around;
        gap: 10px;
    }
    
    .icons img{

        width: 18px;
        height: 18px;
    }
    /* .icons img{
        margin: 0 20px 2rem 0;
        width: 15px;
        height: 15px;
    } */
